body{
    background-color: gray;

    font-family: 'Noto Serif KR', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Vina Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Poppins:wght@300;400;500;600;700&display=swap');
    
.profile{
    width : 150px;
    height: 150px;

    background-color: black;
    border-radius: 100%;

    border : 1px solid white;

    background-image: url('/images/profile.png');
    background-position: center;
    background-size: cover;
}

.main{
    color:white;
    font-size : 20px;

    margin-top: 30px;
    margin-bottom: 0px;
}

.sub{
    color:white;
    font-size : 14px;

    margin-top:10px;
    margin-bottom:30px;
}

.eng_sub{
    color:white;
    font-size:14px;

    margin-top: 10px;
    margin-bottom:30px;
    text-align: center;
}


/*아래서 부터 웹 페이지 공간 배치 */
.wrap{
    width: 400px;
    margin: 30px auto 0px auto;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap > a{
    width: 300px;
    height: 50px;

    background-color: white;
    border-radius: 8px;

    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color : black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    box-shadow: 3px 3px 5px 0px black;
}

.wrap > a:hover{
    background-color: #f2f2f2;
}



